* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
main {
  height: 100%;
  width: 100%;
  /* background-color: royalblue; */
}
/* styling Dashboard Navigation styling */

.navbar {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 131, 207);
  color: white;
  padding: 2rem 1rem;
}
.dark-mode {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dark-mode span i {
  font-size: 1.8rem;
}
.dark-mode .night {
  display: none;
}
.section-container {
  height: 100%;
  width: 100%;
}
.section-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  gap: 20rem;
}
.timming {
  height: 300px;
  width: 100%;
  background-color: red;
}
.feat-list {
  width: 30%;
  height: 100%;
}
.list-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: gray;
  padding: 1rem;
}
.list-box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}
/* Your Personalised task list styling */
.task-container {
  height: 100%;
  width: 100%;
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.task-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.task-heading h1 {
  font-size: 3rem;
}
.task-close {
  background-color: grey;
  border-radius: 1rem;
}
.task-close h2 {
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}
.task-box {
  height: 80%;
  width: 100%;
  /* background-color: crimson; */
  display: flex;
  gap: 2rem;
  padding: 0 3.5rem;
}
.form-data {
  height: 100%;
  width: 40%;
  background-color: red;
  border-radius: 1rem;
}
#form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem 0 1rem;
}
input[type="text"] {
  padding: 1rem;
  outline: none;
}
textarea {
  padding: 1rem 0 5rem 1rem;
  outline: none;
}
.task-add {
  cursor: pointer;
  padding: 1rem;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgb(22, 180, 233);
}
.task-add:hover {
  background-color: blue;
}

.todo-list {
  height: 100%;
  width: 60%;
  background-color: yellow;
  border-radius: 1rem;
}
.li {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  background-color: green;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.li h3 {
  font-size: 1.8rem;
  color: white;
}
sup {
  vertical-align: super;
  font-size: 0.6em;
}

.li p {
  font-size: 1.8rem;
  color: white;
}
.btns {
  display: flex;
  gap: 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 255, 0.299);
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: blue;
}

/* goal styling */
.goal-container {
  height: 100%;
  width: 100%;
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.goal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.goal-heading h1 {
  font-size: 3rem;
}
.goal-close {
  background-color: grey;
  border-radius: 1rem;
}
.goal-close h2 {
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}
.goal-box {
  height: 80%;
  width: 100%;
  /* background-color: crimson; */
  display: flex;
  gap: 2rem;
  padding: 0 3.5rem;
}
.goal-data {
  height: 100%;
  width: 40%;
  background-color: red;
  border-radius: 1rem;
}
#form-goal-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem 0 1rem;
}
input[type="text"] {
  padding: 1rem;
  outline: none;
}
textarea {
  padding: 1rem 0 5rem 1rem;
  outline: none;
}
.goal-add {
  cursor: pointer;
  padding: 1rem;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgb(22, 180, 233);
}
.goal-add:hover {
  background-color: blue;
}

.goal-list {
  height: 100%;
  width: 60%;
  background-color: yellow;
  border-radius: 1rem;
}
.li {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  background-color: green;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.li h3 {
  font-size: 1.8rem;
  color: white;
}

.li p {
  font-size: 1.8rem;
  color: white;
}
.btns {
  display: flex;
  gap: 1rem;
}
.btn1 {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 255, 0.299);
  color: white;
  cursor: pointer;
}
.btn1:hover {
  background-color: blue;
}
